<h1> Student Number: <%=@students.id%> </h1>

  <p>First Name: <%= @students.first_name %></p>
  <p>Last Name: <%= @students.last_name %></p>
  <p>Age: <%= @students.age %></p>
  <p>House: <%= @students.house %></p>
  <hr/>
